@model Figure.Models.Rectangle

<h2>Pole powierzchni prostokąta</h2>
<p>Side A: @Model.sideA @Model.MeasureA</p>
<p>Side B: @Model.sideB @Model.MeasureB</p>
<p>Powierzchnia: @Model.Field @Measure.m^2</p>

<a class="btn btn-primary" asp-action="Index">Powrót do listy</a>